@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', Arial;
}

:root {
    --light-blue: LightCyan;
    --blue: #accce3;
    --med-blue: #95baf5;
    --dark-blue: #769fe0;
}

html {
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 100%;
}

body {
    background-color: var(--light-blue);
    border: 3px solid black;
    border-radius: 16px;
    padding: 24px;
    flex-grow: 1;
    margin: 8px 16px;
}

/* nav bar */

nav {
    position: relative;
}

nav .navbar {
    background-color: var(--dark-blue);
    border: 4px solid black;
    border-radius: 10px;
    user-select: none;
    overflow: hidden;
}

nav .main-nav {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 16px;
}

nav .dropdown {
    z-index: 1;
    position: absolute;
    right: 0;
    margin-top: 5px;
    height: auto;
    width: 120px;
    display: none;
    flex-direction: column;
    align-items: center;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    padding: 16px 8px;
    display: block;
}

nav a:hover {
    background-color: var(--med-blue);
    cursor: pointer;
}

nav .main-nav a.currentpage {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
}

nav .main-nav a.hamburgermenu {
    display: none;
    position: absolute;
    right: 0;
}

@media screen and (max-width: 400px) {
    nav .main-nav a.navpage {
        display: none;
    }

    nav .main-nav a.hamburgermenu {
        display: block;
    }
}

@media screen and (min-width: 400px) {
    nav .dropdown {
        border: 0;
        width: 0;
        height: 0;
    }
}

/* headers */

.site-title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.page-title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-top: 1em;
}

.header {
    text-align: center;
    font-weight: bold;
}

/* page shortcuts */

.pageshortcut {
    background-color: var(--med-blue);
    border: 4px solid black;
    border-radius: 10px;
    display: inline-block;
    max-width: 250px;
    text-decoration: none;
    margin: 5px;
}

.pageshortcuttitle {
    border-bottom: 4px solid black;
    vertical-align: text-top;
    padding: 8px;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
    color: black;
}

/* video button */

.button {
    background-color: var(--blue);
    border: 2px solid black;
    border-radius: 20px;
    font-size: 1em;
    text-decoration: none;
    color: black;
    padding: 1px 5px;
    margin: 3px 0;
}

.button:hover {
    background-color: var(--dark-blue);
}

/* convenient */

.center {
    text-align: center;
}

.link {
    text-align: center;
    text-decoration: underline;
    font-weight: normal;
}

.link:hover {
    color: red;
}

.flexrow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flexcol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
}

img.chart {
    margin: 8px;
}

.caption {
    margin: 2px 0 8px 0;
    font-size: 0.75em;
}

footer {
    font-size: 0.75em;
    text-align: center;
}